.card
  background-color: rgba(210, 210, 210, 0.3)
  height: 25rem

.card a
  text-decoration: none
  color: inherit

.footer
  padding: 0 20px

.photos,
.photos p
  display: flex
  align-items: center

.photos
  justify-content: space-between

.photo-icon
  margin-right: 10px
