<div class="error" *ngIf="error | async">{{ error | async}}</div>
<mat-progress-spinner
  *ngIf="(loading | async) else placesCards"
></mat-progress-spinner>
<ng-template #placesCards>
  <h1>All places</h1>
  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div
      *ngFor="let place of places | async"
      fxFlex.lg="25%"
      fxFlex.md="33%"
      fxFlex.sm="50%"
      fxFlex.xs="100%"
    >

      <mat-card class="card">
        <a [routerLink]="['/place/', place.id]">
          <img [src]="place.mainImage | image" [alt]="'Photo of ' + place.title"
               class="place-image"/>
          <mat-card-title>{{ place.title }}</mat-card-title>
        </a>
        <mat-card-footer class="footer">
          <div class="rating-area">
            <app-stars [rating]="place.fullRating"></app-stars>
            <p>
              ( {{place.fullRating}}, {{place.reviews.length}} {{place.reviews.length <= 1 ? 'review' : 'reviews'}} )
            </p>
          </div>
          <div class="photos">
            <p>
              <span class="material-icons photo-icon">photo_camera</span>
              {{place.photoGallery.length}} photos
            </p>
            <button
              mat-icon-button
              color="warn"
              *appHasRoles="['Admin']"
              (click)="onRemove(place.id, place.title)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-card-footer>
      </mat-card>

    </div>
  </div>
</ng-template>
