<div class="error" *ngIf="error | async">{{ error | async}}</div>
<mat-progress-spinner
  *ngIf="(loading | async) else placeCard"
></mat-progress-spinner>
<ng-template #placeCard>
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title style="margin-bottom: 40px">{{ (place | async)?.title }}</mat-card-title>
      <mat-card-subtitle>{{ (place | async)?.description }}</mat-card-subtitle>
      <img
        style="max-width: 100%"
        [src]="(place | async)?.mainImage | image" [alt]="'Photo of ' + (place | async)?.title"
      />
    </mat-card-title-group>
    <mat-card-content>
      <p>Gallery</p>
      <div fxLayout="row wrap" fxLayoutGap="20px grid">
        <div *ngFor="let photo of (place | async)?.photoGallery; let i = index" fxLayout="column"
             fxLayoutAlign="center end">
          <img
            [src]="photo.photo | image"
            [alt]="'Photo ' + (i + 1)"
            style="width: 120px; height: 70px"
          />
          <div>
            <button
              mat-icon-button
              color="warn"
              *appHasRoles="['Admin']"
              (click)="onRemovePhoto(photo._id, photo.photo)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="raiting-card">
    <h3>Ratings</h3>
    <div style="width: 40%">
      <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-bottom: 10px">
        <p fxFlex="40"><strong>Overall:</strong></p>
        <div fxFlex="40">
          <app-stars [rating]="(place | async)!.fullRating"></app-stars>
        </div>
        <p fxFlex="20">{{ (place | async)?.fullRating }}</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-bottom: 10px">
        <p fxFlex="40">Quality of food: </p>
        <div fxFlex="40">
          <app-stars [rating]="(place | async)!.averageFoodRating"></app-stars>
        </div>
        <p fxFlex="20">{{ (place | async)?.averageFoodRating }}</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-bottom: 10px">
        <p fxFlex="40">Service quality: </p>
        <div fxFlex="40">
          <app-stars [rating]="(place | async)!.averageServiceRating"></app-stars>
        </div>
        <p fxFlex="20">{{ (place | async)?.averageServiceRating }}</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-bottom: 10px">
        <p fxFlex="40">Interior: </p>
        <div fxFlex="40">
          <app-stars [rating]="(place | async)!.averageInteriorRating"></app-stars>
        </div>
        <p fxFlex="20">{{ (place | async)?.averageInteriorRating }}</p>
      </div>
    </div>
  </div>

  <div class="raiting-card">
    <div fxLayout="row" fxLayoutGap="10px grid">
      <h3>Reviews</h3>
      <mat-icon (click)="toggleReviews()">{{ !showReviews ? 'arrow_drop_down' : 'arrow_drop_up'}}</mat-icon>
    </div>
    <div *ngIf="showReviews">
      <div *ngFor="let review of (place | async)?.reviews" style="margin-bottom: 30px">
        <div fxLayout="row" fxLayoutAlign="none end">
          <p>
            On {{ review.date | date }}, <strong>{{ review.user.displayName }}</strong> said:
          </p>
          <button
            mat-icon-button
            color="warn"
            *appHasRoles="['Admin']"
            (click)="onRemoveReview(review._id, review.user.displayName)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <p><i>" {{ review.text }} "</i></p>
        <div style="width: 40%">
          <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-bottom: 10px">
            <p fxFlex="40">Quality of food: </p>
            <div fxFlex="40">
              <app-stars [rating]="review.foodRating"></app-stars>
            </div>
            <p fxFlex="20">{{ review.foodRating }}</p>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-bottom: 10px">
            <p fxFlex="40">Service quality: </p>
            <div fxFlex="40">
              <app-stars [rating]="review.serviceRating"></app-stars>
            </div>
            <p fxFlex="20">{{ review.serviceRating }}</p>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-bottom: 10px">
            <p fxFlex="40">Interior: </p>
            <div fxFlex="40">
              <app-stars [rating]="review.interiorRating"></app-stars>
            </div>
            <p fxFlex="20">{{ review.interiorRating }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="(user | async) else message" style="padding: 30px">
    <div>
      <mat-divider></mat-divider>
      <h2 style="margin-top: 20px">Add review</h2>
      <form #reviewForm="ngForm" fxLayout="column" autocomplete="off" (ngSubmit)="addReview()">
        <div class="error" *ngIf="addReviewError | async">{{ addReviewError | async}}</div>
        <mat-form-field appearance="outline" class="field">
          <textarea
            name="text"
            required
            matInput
            ngModel
            #text="ngModel"
            cdkTextareaAutosize
            cdkAutosizeMinRows="3"
            placeholder="Your review here"
          ></textarea>
          <mat-error *ngIf="text.touched && text.hasError('required')">
            Review text is required!
          </mat-error>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 60%">
          <mat-form-field appearance="outline">
            <mat-label>Quality of food:</mat-label>
            <mat-select name="foodRating" required matInput ngModel #foodRating="ngModel">
              <mat-option *ngFor="let number of ratingArray" [value]="number">
                {{ number }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Service quality:</mat-label>
            <mat-select name="serviceRating" required matInput ngModel #serviceRating="ngModel">
              <mat-option *ngFor="let number of ratingArray" [value]="number">
                {{ number }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Interior:</mat-label>
            <mat-select name="interiorRating" required matInput ngModel #interiorRating="ngModel">
              <mat-option *ngFor="let number of ratingArray" [value]="number">
                {{ number }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-progress-spinner *ngIf="(addReviewLoading | async) else button"></mat-progress-spinner>
          <ng-template #button>
            <button
              type="submit"
              mat-raised-button
              color="primary"
              [disabled]="reviewForm.invalid || (addReviewLoading | async)"
            >
              Submit review
            </button>
          </ng-template>
        </div>
      </form>
    </div>
    <div style="margin-top: 40px">
      <mat-divider></mat-divider>
      <h2 style="margin-top: 20px">Upload new photo</h2>
      <form #photoForm="ngForm" fxLayout="column" autocomplete="off" (ngSubmit)="addPhoto()">
        <mat-form-field appearance="outline">
          <mat-label>Photo</mat-label>
          <app-file-input name="photo" ngModel required></app-file-input>
        </mat-form-field>
        <div>
          <mat-progress-spinner *ngIf="(addPhotoLoading | async) else buttonUpload"></mat-progress-spinner>
          <ng-template #buttonUpload>
            <button
              type="submit"
              color="primary"
              mat-raised-button
              [disabled]="photoForm.invalid || (addPhotoLoading | async)"
            >
              Upload photo
            </button>
          </ng-template>
        </div>
      </form>
    </div>
  </div>
  <ng-template #message>
    <div class="error" style="height: 100px">
      <p>You can't leave a review or add a photo.</p>
      <p>Initially register or login</p>
      <p>
        <a mat-button routerLink="/register">Register</a>
        <a mat-button routerLink="/login">Login</a>
      </p>
    </div>
  </ng-template>
</ng-template>

