.idea/
node_modules
public/uploads/*
!public/uploads/.gitkeep
!public/uploads/user.jpg
!public/uploads/admin.jpg
!public/uploads/bannedMare.jpg
!public/uploads/brokenSword.jpg
!public/uploads/cafe1.jpg
!public/uploads/cafe2.jpg
!public/uploads/JhonDoe.jpg
!public/uploads/sunkenFlagon.jpg
